body {
    background-color: rgb(219, 219, 219);
    font-family: poppins;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
    color: #ffffff;
    font-family: poppins;
}


.navbar {
    background-color: rgb(193, 18, 18);
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #ffffff;
    position: fixed;
    z-index: 8888;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 1.0em;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 13px;
}

.header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/IMG20220822144606.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1, 4rem 7%;
}

.header .index {
    justify-content: center;
    display: grid;
    padding-left: 1.4rem 7%;
    max-width: 80rem;
    margin-left: 18%;
    text-align: center;
}

.header .index h2,
h5 {
    color: #ffffff;
}

.about-section {
    margin-top: 2%;
}

.about-content {
    display: flex;
    margin-top: 5%;
}

.about-section {
    padding: 60px;
}

.about-section h1,
h2 {
    text-align: center;
    color: #000;
}

.about-deskripsi {
    display: inline;
    flex: 1 1 40rem;
}

.about-img {
    padding-left: 1%;
    flex: 1 1 45rem;
}

.jurusan-section h1,
h3 {
    text-align: center;
    color: #000;
    margin-top: 1px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5%;
    background-color: #ffffff;
    margin: 20px 0 10px 10px;
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}

.card-section {
    padding: 5px 5px;
    text-align: center;
}

.card-section h3,
p {
    color: #000;
}

.card-container {
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-section {
    text-align: center;
}

.contact-section .main-contact {
    justify-content: center;
    display: flex;
    padding: 8px 10px;
}

footer {
    background-color: rgb(193, 18, 18);
    padding: 5px 5px;
    text-align: center;
    font-size: 13px;
}

footer p {
    color: #ffffff;
}